
# Xcode & macOS
.DS_Store
build/
DerivedData/

# SwiftPM
Packages/
.build/

# User data
*.xcuserdata
*.xcuserdatad
*.xcworkspace
*.xcconfig

# API secrets or configs
Config.swift
Secrets.xcconfig

# Fastlane
fastlane/report.xml
fastlane/Preview.html
